body{
    font-family: 'Courier New', courier;
    font-size:  18px;
    color: white;
    height: 800px;
    background-image: url("https://i.pinimg.com/736x/77/42/0d/77420df3f9e33db5b79ee25455d3340e.jpg");
    background-size: cover;
    background-size: 25rem;
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
}
.redes{
    background: #292524;
    width: 98%;
    float: left;
    font-size: 1em;
    text-align: center;
    padding: 10px;
    border-radius: 22px;
    border-style: double ;
    border-color: rgb(14, 14, 15);
}
.csm{
    text-align: center;
    padding-top: 5px;
    padding-bottom:5px;
}
.csm li{
    display:inline-table;
}
.csm a{
    padding:10px;
}
aside{
    color:#e4d2d0;
    
    width: 25%;
    float: left;
    line-height: 25px;
    border-radius: 22px;
    border-style: double ;
    border-color: rgb(14, 14, 15);
}
img.imgss:hover{
     transform: scale(1.55);
}
img.imgss{
    border-radius: 22px;
   
}
img.imgmenu{
    padding-top: 15px;
    padding-left: 15px;
    text-align: justify;
}
.aside1 {

    padding: 25px;
    font-size: 1.2em;
    text-align: justify;
}
main{
    padding: 10px;
    background: #554a4d;
    width: 72%;
    float: right;
    border-radius: 22px;
    border-style: double ;
    border-color: rgb(14, 14, 15);
}

.navfoo{
text-align: center;
}

a:link{
    text-decoration: none;
}
aside section ul a.textinside:hover{
    background: #f5eef1;
    border-radius: 22px;
}
img.imginside{
    border-radius: 22px;
}
img.imginside:hover{
    transform: scale(1.55);
}
img.imagend{
    padding: 10px;
    width:80%;
    border-radius: 22px;
    text-align: center;

}
video.videopu:hover{
    transform: scale(1.08);
}
video.videopu{
    border-radius: 22px;
    padding: 10px;
    width:100%;
    max-width:600px;   
}
img.imagenpu:hover{
    transform: scale(1.08);
}
img.imagenpu{
    border-radius: 22px;
    padding: 10px;
    width:100%;
    max-width:600px; 
}
/* header menu */
header{
    position:fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background: rgb(122, 98, 98);
    border-radius: 15px;
}
#btn-menu{
    display:none;
}
header label{
    display:none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
    
}
header label:hover{
    cursor: pointer;
    background: rgba(0, 0, 0,0.3);
}
.menu ul{
    margin:0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
 
}
.menu li{
    flex-grow: 1;
}
.menu li :hover{
    background: rgba(0, 0, 0,0.3);
    color: #171a18;
}
.menu li a:hover{
    background: rgba(0, 0, 0,0.3);
    color: #171a18;
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color:rgb(71, 15, 15);
    text-decoration: none;
}
@media(max-width:768px){
    header label{
        display: block;
    }
    .menu{
        position: absolute;
        background: rgb(117, 31, 31);
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
        }
        .menu ul{
            flex-direction: column;
        }
        .menu li{
            border-top: 1px solid #fff;
        }
        #btn-menu:checked ~ .menu{
            margin:0;
        }
    }
/* Footer */

  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
    border-radius: 20px;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;

  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .contenedor {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-main {
      justify-content: space-evenly;

    }
  /* Footer redes */
  .footer-redes {
    padding: 0 1.875rem 1.25rem;
  }
